/* styles.css */

body {
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ff69b4;
    font-size: 2.5em;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.buttons {
    margin: 20px 0;
    position: relative;
    height: 100px; /* Ajusta según sea necesario */
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #ff69b4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493;
}

#responseMessage {
    margin-top: 20px;
    font-size: 1.5em;
    color: #000000;
}

#yesButton {
    z-index: 2; /* Asegura que el botón "Sí" esté sobre el botón "No" */
    transform-origin: center;
    transition: transform 0.3s;
}

#noButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el botón "No" esté detrás del botón "Sí" */
}

/* styles.css */

/* Estilos existentes... */

#imagenNo {
    max-width: 250px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Ajusta la altura automáticamente */
    transition: opacity 0.3s ease-in-out; /* Agrega una transición suave de opacidad */
}

.hidden {
    display: none;
}
